.order {
  &-empty{
    height: 100vh;
    display:flex; 
    align-items:center;
    justify-content:center; 
  }
  &.cell {
    width: 100%;
  }
  &-title {
    font-size: 21px;
    font-weight: bold;
  }
  &-wrap {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3px 5px;
    height: 100%;
    font-size: 12px;
  }
  &-reciept {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 65%;
    overflow-y: auto;
    &-total {
      font-weight: bold;
      margin: 10px 0;box-sizing: border-box;
      padding-top: 3px;
      padding-right: 5px;
      border-top: 2px solid rgba(0, 0, 0, 0.295);
      width: 100%;
      text-align: right;
    }
    &-cell {
      display: flex;
      flex-direction: column;
      padding: 5px;
      box-sizing: border-box;
      width: 100%;
      &:nth-child(even) {
        background: #ddd;
      }
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 5px 0;font-size: 15px;
        &-button {
          padding: 4px 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #523637;
          border-radius: 50%;
          border: none;width: 30px;height: 30px;
          img {
            height: 14px;
            width: 14px;
          }
        }
      }
    }

    &-button {
      margin: 10px auto;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #523637;
      color: #fff;
      width: 80%;
      border-radius: 10px;
    }
  }
}

/* rtg */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
