.qr {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 255px;

  svg {
    width: 100% !important;
  }
  &-loading {
    width: 255px;
    height: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
